* {
  margin: 0;
  padding: 0;
}

body {
  background-color: #594545;
  font-family: "Hind", sans-serif;

  color: #fff8ea;
  font-weight: 300;
}

html {
  scroll-behavior: smooth; /*smoothly scroll*/
}

a,
.button {
  transition: all 200ms ease;
}

/* DESKTOP NAVIGATION BAR  */
/* DESKTOP NAVIGATION BAR  */
/* DESKTOP NAVIGATION BAR  */

#navigation-bar {
  margin-right: 80px; /* center nav menu  */
}

nav {
  display: flex;
  align-items: center;

  justify-content: space-around;
  font-family: "El Messiri", sans-serif;
  height: 10vh;
  width: 100%;
}

a {
  font-weight: 400;
  font-size: 18px;
  color: #fff8ea;
  text-decoration: none;
  display: inline-block;
  margin-right: 15px;
}

a:hover {
  text-decoration: underline;
  text-underline-offset: 10px;
}

#logo-name {
  color: #fff8ea;
  font-size: 19px;
  font-family: "El Messiri", sans-serif;
  cursor: default;
}
#logo-name:hover {
  color: #af8b8b;
}
.translate {
  background-color: #594545;
  border: none;
}

#translate-menu-icon {
  cursor: pointer;
  height: 30px;
  width: 30px;
  float: right;
  margin-right: 20px;
}

#translate-menu-icon:hover {
  transition: all 200ms ease;
  scale: 1.15;
}
#navigation-bar li,
#navigation-bar-footer li {
  display: inline;
}

/* MOBILE NAVIGATION BAR  */
/* MOBILE NAVIGATION BAR  */
/* MOBILE NAVIGATION BAR  */

#mobile-nav {
  display: none;
}

#menu-icon {
  cursor: pointer;
  height: 35px;
  width: 35px;
}
#menu-icon:hover,
#close-menu-icon:hover {
  transition: all 200ms ease;
  scale: 1.15;
}
#mobile-menu-icon {
  display: flex;
  align-items: center;

  gap: 20px;
}

#mobile-menu-icon.hidden {
  display: none;
}

.menu-links {
  display: none;
  transition: all 0.3 ease-in-out;
  margin-top: 150px;
}

.menu-links a {
  font-size: 15px;
  margin-left: 7px;
  text-decoration: none;
  transition: all 200ms ease;
}

.menu-links img {
  /* float: right;
  padding-right: 5px;
  padding-top: 5px; */
}
.menu-links a:hover {
  text-decoration: underline;
  text-underline-offset: 5px;
}
.menu-links li {
  list-style: none;
  text-align: center;
  padding: 8px;
  margin-left: 14px;
}

.menu-links.open {
  max-height: 350px;
  width: 130px;
  display: block;
}

#close-menu-icon {
  margin-left: 60px;
  cursor: pointer;
  height: 37px;

  width: 37px;
}

/*HERO PAGE*/
/*HERO PAGE*/
/*HERO PAGE*/

#hero-section {
  display: flex;

  justify-content: center;

  height: 90vh;

  box-sizing: border-box;
  /* min-height: fit-content; */
}

.section__pic-container {
  /* overflow: hidden; */
  position: absolute;
  z-index: -1;
}

.section_texts {
  align-self: center;
  text-align: center;
  margin-bottom: 20px;
}

.hello {
  font-size: 25px;
  color: #594545;

  font-weight: 600;
}

.imake {
  display: flex;
  align-items: baseline;
}

.name {
  margin-bottom: 20px;
  font-size: 55px;
  text-align: center;

  color: rgb(158, 118, 118);

  font-family: "El Messiri", sans-serif;
}
.description {
  font-size: 23px;
  color: #594545;
  letter-spacing: 1px;
  font-family: "El Messiri", sans-serif;

  padding-right: 10px;
}

#cursor {
  font-size: 25px;

  color: #594545;
}

/*ABOUT ME SECTION*/
/*ABOUT ME SECTION*/
/*ABOUT ME SECTION*/

#about {
  position: relative;
  height: 100vh;
  text-align: center;
}

.about-title {
  align-self: center;
  text-align: center;
  margin-bottom: 30px;
  padding-top: 40px;
}

.pretitle {
  font-size: 16px;
  color: #af8b8b;
  font-family: "Taviraj", serif;
}

.title {
  font-size: 35px;
  font-family: "Taviraj", serif;
}

.section-container {
  display: flex;
  align-items: center;
  justify-content: center;
}

.my-picture-container {
  border-top: #fff8ea 1px solid;
  border-left: #fff8ea 1px solid;
  height: 600px;
  width: 250px;
  margin: 20px 40px 20px 20px;
}

.my-picture {
  margin-top: 10px;
  margin-left: 20px;

  height: 600px;
  width: 250px;
  object-fit: contain;
}

.boxes-social-media {
  display: flex;

  gap: 20px;
  width: 500px;

  margin: auto;
  justify-content: center;
}
.about-boxes {
  gap: 20px;
  display: flex;
  flex-direction: row;

  width: 400px;
  height: 90px;
  align-items: flex-end;
}

.box-details-container {
  padding: 15px;

  font-size: 15px;
  background: none;

  border: #9e7676 0.1rem solid;
}
#social-media {
  display: flex;

  flex-direction: column;
  float: left;

  gap: 15px;
  height: 70px;
}

.about-text-container {
  max-width: 550px;

  justify-content: center;
  padding: 0px 30px 20px;
}

.highlight {
  color: #d1aeae;
}
.bio {
  font-size: 16px;
}

.linkedin {
  height: 48px;
}
.github {
  height: 54px;
}
a .icon {
  cursor: pointer;
}

a .icon:hover {
  transition: all 300ms ease;
  scale: 1.2;
}

.button {
  transition: all 200ms ease;
  padding: 10px;
  width: 130px;
  color: #af8b8b;
  border: #af8b8b 0.1rem solid;
  background: none;

  cursor: pointer;

  margin-bottom: 20px;
  margin-top: 20px;
}

.button:hover {
  background-color: rgb(255, 248, 234, 0.2);

  color: #fff8ea;
  border: #af8b8b 0.1rem solid;
}
.arrow-container {
  justify-content: center;
  position: absolute;
  bottom: 20px;
}

.icon-arrow {
  /* cursor: pointer; */
  height: 40px;
  /* position: absolute; */

  transform: scaleY(-1);
}

/* PROJECT SECTION */
/* PROJECT SECTION */
/* PROJECT SECTION */

#projects {
  height: auto;
  display: grid;
  align-items: center;
  justify-content: center;
  margin-bottom: 50px;
}

.project-title {
  align-self: center;
  text-align: center;
  padding: 80px 0px 40px;
}

.projects-container {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  padding: 20px 15px;
}

.card {
  transition: all 250ms;
  background-color: none;
  width: 280px;

  height: 375px;
  margin: 20px;
  padding: 10px;
  border: #fff8ea 1px solid;
}

.card:hover {
  transform: translateY(-12px);
  box-shadow: rgb(255, 248, 234, 0.5) 0px 10px 15px 0px,
    rgb(255, 248, 234, 0.5) 0px 7px 5px 0px;
}
.all-card-content {
  height: 340px;

  padding: 15px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.card-title {
  width: 250px;
  height: 180px;

  border: #9e7676 0.01px solid;

  display: flex;
}
.card-title span {
  font-size: 55px;
  letter-spacing: 1px;
  text-align: right;
  align-self: flex-end;
  font-family: "Antonio", serif;
  font-weight: 700;
}
.project-description {
  text-align: left;
  color: #fff8ea;
  font-size: 16px;
  padding-left: 5px;
}

.button-container-project {
  width: 280px;
  display: flex;
  gap: 15px;
  justify-content: center;
}

.project-link {
  cursor: pointer;
  font-size: 14px;
  transition: all 200ms ease;
  padding: 10px;
  width: 70px;
  height: 20px;
  text-align: center;
  color: #fff8ea;
  border: #fff8ea 1px solid;
  background-color: #594545;
  font-size: 14px;
}
.project-link:hover {
  background-color: rgb(255, 248, 234, 0.2);
  text-decoration: none;
  color: #fff8ea;
  border: #fff8ea 1px solid;
}

.unavailable {
  color: #bebebe;
  border: #bebeba 1px solid;
  cursor: initial;
  background-color: rgb(255, 248, 234, 0.1);
}
.unavailable:hover {
  background-color: rgb(255, 248, 234, 0.1);
  color: #bebebe;
  border: #bebeba 1px solid;
}

/* CONTACT ME SECTION */
/* CONTACT ME SECTION */
/* CONTACT ME SECTION */

#contact-me {
  position: relative;

  height: 50vh;
  display: flex;
  justify-content: center;
  flex-direction: column;
  background-color: #815b5b;
  margin-bottom: 30px;
}

.contact-info-container {
  max-width: 450px;
  display: flex;
  justify-content: center;

  border: #ae8d8d 1px solid;
  margin: 2rem auto;
  padding: 8px;
}

.contact-email-container {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  gap: 10px;
  margin: auto;
}

.contact-email-container p {
  font-size: 18px;
}

.icons {
  height: 45px;
  cursor: pointer;
}
.email {
  height: 50px;
}
.contact-title {
  align-self: center;
  text-align: center;
  padding: 0px 0px 20px;
}

.footer-nav {
  display: flex;
}
.nav-links {
  align-items: center;
  justify-content: space-around;
}

.copyright {
  text-align: center;
  color: #af8b8b;
}

/* MEDIA QUERY*/
/* MEDIA QUERY*/
/* MEDIA QUERY*/

@media screen and (max-width: 480px) {
  body {
    overflow-x: hidden;
  }
  #mobile-nav {
    display: flex;
    justify-content: space-between;
  }
  #logo-name {
    margin-left: 25px;
  }

  #desktop-nav,
  .icon-arrow {
    display: none;
  }
  .hello,
  .description {
    font-size: 18px;
  }

  .name {
    font-size: 45px;
  }
  .section__pic-container {
    margin-top: 60px;
  }

  .ballsvg {
    height: 400px;
    width: 400px;
  }
  #about {
    height: max-content;
  }
  .about-me-container {
    width: auto;
  }

  .my-picture-container {
    display: none;
  }

  .about-boxes {
    display: none;
  }
  .button {
    justify-content: center;
  }
  .boxes-social-media {
    width: auto;
  }
  #social-media {
    flex-direction: row;
    align-items: center;
    float: none;
  }

  .contact-title h1 {
    font-size: 30px;
  }
  .contact-info-container {
    width: auto;
    margin: 10px;
  }

  .contact-email-container a {
    font-size: 17px;
  }

  #navigation-bar-footer a {
    font-size: 16px;
  }
  .email {
    margin-left: 10px;
  }
}

@media screen and (min-width: 481px) and (max-width: 900px) {
  .ballsvg {
    height: 600px;
    width: 600px;
  }
  #hero-section {
    height: 90vh;
    align-items: center;
  }
  .second-arrow {
    display: none;
  }
  .section__pic-container {
    margin-top: 30px;
    margin-bottom: 100px;
  }

  #about {
    height: max-content;
  }
  .my-picture-container {
    margin: 0;
  }
  .linkedin,
  .github {
    margin-left: 30px;
  }
  .about-text-container {
    margin-left: 20px;
  }
}

@media screen and (min-width: 900px) {
  .ballsvg {
    height: 600px;
    width: 600px;
  }

  .section__pic-container {
    margin-top: 40px;
  }
}
